* {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

/* *****Navbar***** */

.myNav {
    position: sticky;
    z-index: 300;
    background-color: black;
    top: 100;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 50px;
}

.header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.header ul li {
    list-style: none;
}


.header ul li a {
    text-decoration: none;
    /* padding: 12px 170px;  not apply*/
    color: white;
    cursor: pointer;
}

.header ul li a:hover {
    background-color: rgb(181, 177, 177);
}

/* *******Image 1******** */
.image1 img {
    width: 100vw;
    height: 50vh;
}

.timing {
    margin: -45px 0px 0px 25px;
    color: white;
    background-color: black;
}


.address {
    color: white;
    text-align: right;
    margin: -15px 25px 0px 0px;
}

.heading {

    text-align: center;
    margin-top: -350px;
    color: white;
    font-size: 5rem;
    font-weight: 300;

}

.heading span {
    position: absolute;
    margin: 160px 0px 0px -140px;
}

/* *********About the cafe******** */
.about {
    width: 50%;
    margin: 0 auto;
    margin-top: 350px;
    letter-spacing: 1px;
    font-size: 1rem;
    word-spacing: 7px;
    font-family: 'Source Code Pro', monospace;
}

.heading2 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    background-color: black;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 1rem;
    padding: 4px 0px;
}

.para2 {
    padding: 15px 20px;
    background-color: rgb(234, 232, 232);
    width: 93%;
    letter-spacing: 2px;
    word-spacing: 6px;
    margin-top: 30px;

}

.box {
    position: absolute;
    width: 6px;
    height: 16vh;
    background-color: rgb(195, 192, 192);
    margin: 765px 0px 0px 0px;
}

/* ********Image 2******* */

.image2 img {
    width: 100%;
    height: 50vh;
    margin-bottom: 40px;
    margin-top: 100px;
}

.opening {
    margin-bottom: 12px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
}

.address1 {
    margin-bottom: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
}

/* **********Menu************ */
.menu {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    letter-spacing: 1px;
    font-size: 1rem;
    word-spacing: 7px;
    font-family: 'Source Code Pro', monospace;
}

.heading3 {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    background-color: black;
    width: 22%;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 1rem;
    padding: 4px 0px;
}

.menuItems {
    width: 100%;
    /* height: 100vh; */
    box-shadow: 0px 0px 10px rgb(171, 170, 170);
    margin-bottom: 20px;
}

.selection {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 10px rgb(171, 170, 170);
    padding: 10px 20px;
}


.btn1,
.btn2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2% 2%;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width:45%;
}
.btn2{
    color: black;
}
.btn1 {
    background-color: rgb(90, 86, 86);
    color: white;
}

/* **********Eating Items********* */

.Eatitems {
    margin: 50px 0px 0px 20px;
}

.Eatitems li {
    list-style: none;
    margin-top: 60px;

}

.Eatitems li p {
    margin-top: 20px;
    color: rgb(107, 106, 106);
}

/* **********Drinking Items********* */

.DrinkItems {
    display: none;
    margin: 50px 0px 0px 20px;
}

.DrinkItems li {
    list-style: none;
    margin-top: 60px;

}

.DrinkItems li p {
    margin-top: 20px;
    color: rgb(107, 106, 106);
}

/* *******Image 3******** */
.image3 {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    word-spacing: 7px;
}

.image3 img {
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* **********Where to find us********** */
.location {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 1rem;
    word-spacing: 7px;
    font-family: 'Source Code Pro', monospace;
}

.heading4 {
    text-align: center;
    color: white;
    letter-spacing: 0px;
    background-color: black;
    width: 45%;
    margin: 5px auto;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 0px;
}

.para3 {
    width: 100%;
    font-size: 1rem;
    color: rgb(41, 41, 41);
    margin-bottom: 30px;
}

.para4 {
    width: 100%;
    font-size: 1rem;
    color: rgb(41, 41, 41);
    margin-bottom: 30px;
    line-height: 1.5;
}

.para4 span {
    background-color: black;
    color: white;
    padding: 4px 0px;
    padding-left: 8px;
    line-height: 1.5;
}

/* ********Reservation******** */
.reservation {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 1rem;
    word-spacing: 7px;
    font-family: 'Source Code Pro', monospace;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group input {
    height: 8vh;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1.03rem;
}

.sendBtn {
    /* width: 70%; */
    /* margin-right: 550px; */
    padding: 12px 20px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 0.6rem;
    border: none;
    /* margin: 5px auto; */
    margin-bottom: 30px;
    /* padding: 10px 12px; */
    color: white;
    /* letter-spacing: 0px; */
    

}

.sendBtn:hover {
    background-color: gray;
    color: black;
}

/* ****Footer****** */
footer {
    width: 200%;
    background-color: black;
    color: white;
}

footer p {
    text-align: center;
    padding: 10px 15px;
}